<div><b>Customers</b></div>
<div>   
    @if (this.listCustomer | async; as list) {         
    <ul>
        @for (item of list; track item.id) {    
            <li class="user-badge">[{{item.id}}] {{item.name}} | {{item.status}}</li>  
        }
    </ul>                
    }
    @else { 
        <p>Loading data...</p>
    }
    <!-- <ng-container *ngIf="this.listCustomer | async as list">
        <ng-container *ngFor="let item of list">
            <ul>
                <li class="user-badge">[{{item.id}}] {{item.name}} | {{item.status}}</li>  
            </ul>
        </ng-container>
    </ng-container> -->
</div>   
